body {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #F9F9F5;
}

#logostyle{
	font-size: 38px;
	color: #00688B;
}

#sloganstyle{
	font-size: 19px;
	padding-bottom: 15px;
	color: #32CD32;
}

#mainnavigation{
  margin-bottom: 0px;
}

/* the map styles */

#map, #map_sidebar { 
  float: left 
}

#map img {
  max-width: none;
}

#map_sidebar *, .infowindow * {padding:0;margin:0;}
#map_sidebar { float:left;overflow:auto;border:1px solid #ddd;font-size:.8em;width:100%;height:200px;}
.sidebar { list-style:none;margin:0;padding:0; }
.sidebar li { border-bottom: 1px dotted #ddd;padding: 5px 10px !important; cursor:pointer; background-repeat: no-repeat;background-position: 5px 5px;}
.sidebar li:hover { background-color:#eee; }
.sidebar .active { background-color:#eee; }

/* Custom footer */
.footer {
	padding-bottom: 50px;
	padding-top:20px;
	/*background: url("../img/bg_footer.png") repeat-x scroll 0 0 transparent;*/
}

.portlet-title{
  padding-top:2px;
  color: #ffffff;
  /*color: #32CD32;*/
}

.portlet{
  background-color: #A4D3EE;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-left: solid 1px #454545;
  border-bottom: solid 1px #454545;
  /*box-shadow: 0 0 10px 5px #999999;*/
}

/* Main marketing message and sign up button */
.jumbotron {
	padding: 60px 0;
	text-align: center;
}

.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.nav-bar .nav-bar-inner {
	padding: 10px;
}

/* page wrap 
#pagewrapper{
	box-shadow: 0 0 10px 5px #999999;
}*/

/* section content */
#content{

}

#comments{
	padding-top: 20px;
}

.form-horizontal .form-actions {
    padding-left: 20px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 6px 8px;
}

#toccmspage a{
	display: block;
}

/*
THE FONT COLORS
*/
.fg-color-blue {
  color: #2d89ef !important;
}
.fg-color-blueLight {
  color: #EFF4FF !important;
}
.fg-color-blueDark {
  color: #2B5797 !important;
}
.fg-color-green {
  color: #00a300 !important;
}
.fg-color-greenLight {
  color: #99b433 !important;
}
.fg-color-greenDark {
  color: #1E7145 !important;
}
.fg-color-red {
  color: #b91d47 !important;
}
.fg-color-yellow {
  color: #ffc40d !important;
}
.fg-color-orange {
  color: #e3a21a !important;
}
.fg-color-orangeDark {
  color: #da532c !important;
}
.fg-color-pink {
  color: #9f00a7 !important;
}
.fg-color-pinkDark {
  color: #7E3878 !important;
}
.fg-color-purple {
  color: #603cba !important;
}
.fg-color-darken {
  color: #1d1d1d !important;
}
.fg-color-lighten {
  color: #d5e7ec !important;
}
.fg-color-white {
  color: #ffffff !important;
}
.fg-color-grayDark {
  color: #525252 !important;
}
.fg-color-magenta {
  color: #FF0097 !important;
}
.fg-color-teal {
  color: #00ABA9 !important;
}
.fg-color-redLight {
  color: #EE1111 !important;
}
.fg-color-redMyplace {
  color: #F30000 !important;
}
.fg-color-statusCreated {
  color: #BDD09F !important;
}
.fg-color-statusRejected {
  color: #8F3B1B !important;
}
.fg-color-statusRequested {
  color: #D57500 !important;
}
.fg-color-statusCorrected {
  color: #4E6172 !important;
}
.fg-color-statusApproved {
  color: #404F24 !important;
}
.fg-color-statusPendig {
  color: #DBCA69 !important;
}

/*
THE BACKGROUND COLORS
*/
.bg-color-blue {
  background-color: #2d89ef !important;
}
.bg-color-blueLight {
  background-color: #EFF4FF !important;
}
.bg-color-blueDark {
  background-color: #2B5797 !important;
}
.bg-color-green {
  background-color: #00a300 !important;
}
.bg-color-greenLight {
  background-color: #99b433 !important;
}
.bg-color-greenDark {
  background-color: #1E7145 !important;
}
.bg-color-red {
  background-color: #b91d47 !important;
}
.bg-color-yellow {
  background-color: #ffc40d !important;
}
.bg-color-orange {
  background-color: #e3a21a !important;
}
.bg-color-orangeDark {
  background-color: #da532c !important;
}
.bg-color-pink {
  background-color: #9f00a7 !important;
}
.bg-color-pinkDark {
  background-color: #7E3878 !important;
}
.bg-color-purple {
  background-color: #603cba !important;
}
.bg-color-darken {
  background-color: #1d1d1d !important;
}
.bg-color-lighten {
  background-color: #d5e7ec !important;
}
.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-grayDark {
  background-color: #525252 !important;
}
.bg-color-magenta {
  background-color: #FF0097 !important;
}
.bg-color-teal {
  background-color: #00ABA9 !important;
}
.bg-color-redLight {
  background-color: #EE1111 !important;
}
.bg-color-redMyplace {
  background-color: #F30000 !important;
}
.bg-color-statusCreated {
  background-color: #BDD09F !important;
}
.bg-color-statusRejected {
  background-color: #8F3B1B !important;
}
.bg-color-statusRequested {
  background-color: #D57500 !important;
}
.bg-color-statusCorrected {
  background-color: #4E6172 !important;
}
.bg-color-statusApproved {
  background-color: #404F24 !important;
}
.bg-color-statusPendig {
  background-color: #DBCA69 !important;
}

.bg-color-green1 {
  background-color: #2E8B57 !important;
}
.bg-color-green2 {
  background-color: #43CD80 !important;
}
.bg-color-green4 {
  background-color: #32CD32 !important;
}
.bg-color-green6 {
  background-color: #00CD00 !important;
}
.bg-color-green8 {
  background-color: #8FBC8F !important;
}
.bg-color-green10 {
  background-color: #008B00 !important;
}
